@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
}

p,
h1,
span,
body {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: rgb(0, 0, 0);
}

body {
  background: -webkit-linear-gradient(left, #25c481, #00eaff);
  background: linear-gradient(to right, #0011ff, #000000);
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.structure {
  min-width: 80%;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px;
  margin-right: 5px;
}

input:focus {
  outline: solid 1px rgb(0, 0, 0);
}

button {
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 0);
  margin-right: 5px;
  margin-top: 5px;
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: #00ff0d;
  color: #fff;
}

.resetButton:hover {
  background: #ff0000;
}

button:disabled,
.resetButton:disabled {
  cursor: auto;
  color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  background: transparent;
}

@media screen and (max-width: 700px) {
  input {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    align-self: center;
    text-align: center;
  }

  .structure {
    min-width: 100%;
  }
}
