h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
}
.tbl-header {
  background-color: rgb(255, 255, 255);
}
.tbl-content {
  margin-top: 0px;
  border: 1px solid rgb(255, 252, 252);
}

th {
  padding: 20px 15px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  width: 25%;
}
td {
  padding: 15px;
  width: 25%;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(255, 255, 255);
}

/* demo styles */

section {
  margin: 50px;
}

.editButton:hover {
  background: #2bff01;
}

.deleteButton:hover {
  background: #ff0000;
}
